<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-button (click)="backPage()"><ion-icon></ion-icon>Back</ion-button>>
    </ion-buttons>
    <ion-title class="ion-text-center">
      Details
    </ion-title>
    <ion-buttons slot="end">
      <ion-button [color]="isClicked ? 'electric' : 'light'" (click)="toggleClick(pokemonData?.name)">
        <ion-icon slot="start" name="star" [color]="isClicked ? 'electric' : 'light'"></ion-icon>
        Favorite
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  @if (pokemonData){
  @if (pokemonData.sprites.other['official-artwork'].front_shiny){
  @if(!shiny){
  <ion-item>
    <ion-thumbnail class="content-center" style="height: 300px; width: 300px;">
      <img [src]="pokemonImageBaseUrl + pokemonData.id + '.png'" />
    </ion-thumbnail>
    <ion-row class="ion-justify-content-center">
      <ion-button shape="round" (click)="handlePlay()"><ion-icon name="musical-notes"></ion-icon>Cry</ion-button>
    </ion-row>
  </ion-item>
  <ion-row class="ion-justify-content-center">
    <ion-button shape="round" (click)="handleShiny()">Shiny</ion-button>
  </ion-row>
  } @else{
  <ion-item>
    <ion-thumbnail class="content-center" style="height: 300px; width: 300px;">
      <img [src]="pokemonImageBaseUrl +'shiny/'+ pokemonData.id + '.png'" />
    </ion-thumbnail>
    <ion-row class="ion-justify-content-center">
      <ion-button shape="round" (click)="handlePlay()"><ion-icon name="musical-notes"></ion-icon>Cry</ion-button>
    </ion-row>
  </ion-item>
  <ion-row class="ion-justify-content-center">
    <ion-button shape="round" (click)="handleShiny()">Default</ion-button>
  </ion-row>
  }
  } @else {
  <ion-item>
    <ion-thumbnail class="content-center" style="height: 300px; width: 300px;">
      <img [src]="pokemonImageBaseUrl + pokemonData.id + '.png'" />
    </ion-thumbnail>
  </ion-item>
  }
  <ion-card-header>
    <ion-card-title class="ion-text-center " style="font-size: 30px;">Name:
      {{pokemonData.species.name}}</ion-card-title>
  </ion-card-header>
  <app-stats-card [pokemonName]="pokemonData"></app-stats-card>
  <app-pokemon-evolution-card [pokemonData]="pokemonEvolution"></app-pokemon-evolution-card>
  }
</ion-content>