ion-card {
    ion-card-content {
        display: flex;
        align-items: center;
        justify-content: center;

        .wrapper-group-cards {
            color: white;

            .wrapper-damage {
                display: flex;
                flex-wrap: wrap;
                gap: 5px;
                align-items: center;
                justify-content: center;
            }
        }
    }
}