<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-title class="ion-text-center">
      Details
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  @if (pokemonData){
  <ion-item>
    <ion-thumbnail class="content-center">
      <img [src]="pokemonImageBaseUrl + pokemonData.id + '.png'" />
    </ion-thumbnail>
  </ion-item>
  <ion-card-header>
    <ion-card-title class="ion-text-center ">{{pokemonData.species.name}}</ion-card-title>
  </ion-card-header>
  }
</ion-content>