<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-title class="ion-text-center">
      Details
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  @if (pokemonData){
  @if (pokemonData.sprites.other['official-artwork'].front_shiny){
  @if(!shiny){
  <ion-item>
    <ion-thumbnail class="content-center">
      <img [src]="pokemonImageBaseUrl + pokemonData.id + '.png'" />
    </ion-thumbnail>
    <ion-row class="ion-justify-content-center">
      <ion-button shape="round" (click)="handlePlay()">Cry</ion-button>
    </ion-row>
  </ion-item>
  <ion-row class="ion-justify-content-center">
    <ion-button shape="round" (click)="handleShiny()">Shiny</ion-button>
  </ion-row>
  } @else{
  <ion-item>
    <ion-thumbnail class="content-center">
      <img [src]="pokemonImageBaseUrl +'shiny/'+ pokemonData.id + '.png'" />
    </ion-thumbnail>
    <ion-row class="ion-justify-content-center">
      <ion-button shape="round" (click)="handlePlay()">Cry</ion-button>
    </ion-row>
  </ion-item>
  <ion-row class="ion-justify-content-center">
    <ion-button shape="round" (click)="handleShiny()">Default</ion-button>
  </ion-row>
  }
  } @else {
  <ion-item>
    <ion-thumbnail class="content-center">
      <img [src]="pokemonImageBaseUrl + pokemonData.id + '.png'" />
    </ion-thumbnail>
  </ion-item>
  <ion-card>
  </ion-card>

  }
  <ion-card-header>
    <ion-card-title class="ion-text-center ">Name: {{pokemonData.species.name}}</ion-card-title>
  </ion-card-header>
  <app-stats-card [pokemonName]="pokemonData"></app-stats-card>
  }




</ion-content>